.progress {
  border-radius: 0;
  background: none;
  height: 6px;
  position: relative;
}

.player-boost {
  position: absolute;
  display: flex;
  align-items: center;
}

.player-boost-text-v2 {
  font-size: large;
}