.active-player-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: auto;
}

.active-player {
  height: 50px;
  width: 50%;
  background-color: var(--background-transparency-color);
  color: #FFFFFF;
}

.active-player .player-info {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-player .player-info .player-name {
  font-size: 1.4em;
  font-weight: bold;
  padding-left: 20px;
  min-width: 200px;
}

.active-player .player-info .player-metric-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-player .player-info .player-metric-container .player-metric-name {
  padding-left: 10px;
  color: rgb(158, 158, 158);
  text-transform: uppercase;
  padding-right: 20px;
  font-weight: bold;
  font-size: 1.2em;
}

.active-player .player-info .player-metric-container .player-metric-value {
font-size: 1.4em;
font-weight: bold;
}

.active-player-info .spectating {
  font-weight: bold;
}